.header {
    padding: 25px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 12vh;
}

.title {
    font-size: 60px;
    font-weight: bolder;
}

.sub-title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: calc(1.1 * 0.1em);
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 50px;
    }
    
    .sub-title {
        font-size: 18px;
    }    
}

@media only screen and (max-width: 425px) {
    .header {
        padding: 50px 0 10px;
    }
}

@media only screen and (max-width: 375px) {
    .title {
        font-size: 44px;
    }

    .header {
        padding: 15% 0 0;
    }
}

@media only screen and (max-width: 320px) {
    .title {
        font-size: 38px;
    }

    .sub-title {
        font-size: 14px;
    }

    .header {
        padding: 15% 0 -10%;
    }
}